@using homework0927.Models;

@model List<homework0927.Models.VW_OrderAndDetail>

@{
    ViewBag.Title = "MyOrder";
    Cust cust = new Cust();
    cust.UserId = Convert.ToInt32( Session["Custid"]);
}

<h2>我的訂單</h2>
<form>
    <input type="text" hidden value="@Session["Custid"]" />
</form>
<table class="table">

    <tr>
        <th>訂單單號</th>
        <th>訂購商品</th>
        <th>收貨人姓名</th>
        <th>收貨人電話</th>
        <th>收貨人住址</th>
        <th></th>
    </tr>
    @foreach (var item in Model) {
        <tr>
            <td>
                @cust.GetUrderOrderId(Convert.ToInt32(Session["Custid"]))
            </td>
            <td>
                @cust.GetUrderProd(Convert.ToInt32(Session["Custid"]))
            </td>
            <td>
                @cust.GetUrderName(Convert.ToInt32(Session["Custid"]))
            </td>
            <td>
                @cust.GetUrderCellPhone(Convert.ToInt32(Session["Custid"]))
            </td>
            <td>
                @cust.GetUrderAddress(Convert.ToInt32(Session["Custid"]))
            </td>
           <!-- <td>
                @**@Html.ActionLink("商品明細", "MyOrderDetail", new { id = item.Id }
           //  , new { class = "btn btn-default" })
            </td>-->
        </tr>
    }
</table>

